.wrap-listing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    // background-color: #F9F9F9;
    border-right: 1px solid lightgray;
}

.listing-header {   
    flex: 0 0 auto;
}

.listing-main {
    flex: 1 1 auto;
    overflow-y: auto;
}
.listing-footer {
    padding: 0.5rem;
    flex: 0 0 auto;
}
.listing-items {
    list-style: none;
    padding: 0.4rem 0.6rem;
    border-radius: 18px;
    margin-bottom: 5px !important;
    cursor: pointer;
    &:hover {
        background-color: lightgray;
    }
}
.listing-active {
    background-color: lightgray;
}


.single-view {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    // gap: 5px;
}

.single-view-header {
    flex: 0 0 auto;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}

.single-view-main {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
}
.tabs {
    overflow-x: auto;
}

.tab-item {
    white-space: nowrap;
    color: gray;
    cursor: pointer;
    margin: 10px ;
    padding-bottom: 10px;
}
.active-tab {
    color: #0395E8;
    border-bottom: 1px solid #0395E8;
}

.bg-primary {
    background-color: #0395E8 !important;
}

.single-view-main p {
    display: flex;
    align-items: baseline;
  }
  
  .single-view-main .label {
    display: inline-block;
    width: 150px; 
    font-weight: 500;
    color: #6c757d;
  }

.text-primary {
    color: #0395E8 !important;
}
  