<div class="sidebar">
  <!-- Header -->
  <div class="sidebar-header">
    <h1 [routerLink]="''" class="cursor-pointer d-inline">FMS</h1>
  </div>

  <!-- Main Menu -->
  <div class="sidebar-main">
    <ul class="p-0">
      <li *ngFor="let sideBarItem of sideBarItems" [routerLink]="sideBarItem.route" class="sidebar-items mb-1"
        routerLinkActive="sidebar-active">
        <a href="javascript:;" class="text-decoration-none text-dark">
          <i [ngClass]="sideBarItem.icon" class="me-2"></i>{{sideBarItem.name}}
        </a>
      </li>
    </ul>
  </div>

  <!-- Footer -->
  <div class="sidebar-footer border border-top border-0">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ role }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="javascript:;">Settings</a></li>
        <li><a class="dropdown-item" href="javascript:;">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="javascript:;" (click)="logout()">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>